In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [17]:
df = pd.read_csv('/Users/jiaxincui/Documents/GitHub/git-exercise-AllysonCui/Data/Other/uscities.csv')
df_geo = pd.read_csv('/Users/jiaxincui/Documents/GitHub/git-exercise-AllysonCui/Data/Other/uscities.csv')

In [18]:
pd.set_option('display.max_columns', None)

In [19]:
df.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18680025,10768.0,shape,False,True,America/New_York,1,11229 11228 11226 11225 11224 11222 11221 1122...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12531334,3267.0,shape,False,True,America/Los_Angeles,1,91367 90291 90293 90292 91316 91311 90035 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8586888,4576.0,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,6076316,4945.0,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7935,-96.7667,5910669,1522.0,shape,False,True,America/Chicago,1,75098 75287 75230 75231 75236 75237 75235 7525...,1840019440

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30416 entries, 0 to 30415
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          30416 non-null  object
 1   city_ascii    30416 non-null  object
 2   state_id      30416 non-null  object
 3   state_name    30416 non-null  object
 4   county_fips   30416 non-null  int64
 5   county_name   30416 non-null  object
 6   lat           30416 non-null  float64
 7   lng           30416 non-null  float64
 8   population    30416 non-null  int64
 9   density       30416 non-null  float64
 10  source        30416 non-null  object
 11  military      30416 non-null  bool
 12  incorporated  30416 non-null  bool
 13  timezone      30416 non-null  object
 14  ranking       30416 non-null  int64
 15  zips          30414 non-null  object
 16  id            30416 non-null  int64
dtypes: bool(2), float64(3), int64(4), object(8)
memory usage: 3.5+ MB

In [21]:
df_geo.drop(['city', 'city_ascii', 'state_id', 'county_fips', 'source', 'military', 'incorporated', 'timezone', 'zips', 'id'], axis=1)
df_geo.rename(columns={"state_name": "state", "county_name": "county"}, inplace = True)
df_geo.head()

,city,city_ascii,state_id,state,county_fips,county,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18680025,10768.0,shape,False,True,America/New_York,1,11229 11228 11226 11225 11224 11222 11221 1122...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12531334,3267.0,shape,False,True,America/Los_Angeles,1,91367 90291 90293 90292 91316 91311 90035 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8586888,4576.0,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,6076316,4945.0,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7935,-96.7667,5910669,1522.0,shape,False,True,America/Chicago,1,75098 75287 75230 75231 75236 75237 75235 7525...,1840019440

In [22]:
df_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30416 entries, 0 to 30415
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          30416 non-null  object
 1   city_ascii    30416 non-null  object
 2   state_id      30416 non-null  object
 3   state         30416 non-null  object
 4   county_fips   30416 non-null  int64
 5   county        30416 non-null  object
 6   lat           30416 non-null  float64
 7   lng           30416 non-null  float64
 8   population    30416 non-null  int64
 9   density       30416 non-null  float64
 10  source        30416 non-null  object
 11  military      30416 non-null  bool
 12  incorporated  30416 non-null  bool
 13  timezone      30416 non-null  object
 14  ranking       30416 non-null  int64
 15  zips          30414 non-null  object
 16  id            30416 non-null  int64
dtypes: bool(2), float64(3), int64(4), object(8)
memory usage: 3.5+ MB

In [23]:
df20 = pd.merge(df, df_geo, on=['county', 'state'], how = 'left')
df20.drop_duplicates(
  subset = ['state', 'county'],
  keep = 'first', inplace = True)

df20.head(20)

KeyError: 'county'

In [ ]:
#df_mainland = df1[~df1["state"].isin(["Alaska", "Hawaii"])]

#plt.figure(figsize = (14,10))
#sns.scatterplot(data = df_mainland, x = "long", y = "lat", hue = "percentage20_Joe_Biden", size = "total_votes20",
#                sizes = (20, 200), size_norm = (10000, 800000), hue_norm = (0.031,0.944), palette = "coolwarm_r")
#plt.title("The 2020 Election (Red = More Republican; Blue = More Democratic)");