In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [38]:
df = pd.read_csv('/Users/jiaxincui/Documents/GitHub/git-exercise-AllysonCui/Data/Kaggle/president_county_candidate.csv')
df_geo = pd.read_csv('/Users/jiaxincui/Documents/GitHub/git-exercise-AllysonCui/Data/Other/uscities.csv')
pd.set_option('display.max_columns', None)

In [39]:
df['county'] = df['county'].str.replace(' County', '')
df.drop(df[df['won'] == False].index, inplace = True)
df.head()

                   state      county     candidate party  total_votes   won
0               Delaware        Kent     Joe Biden   DEM        44552  True
4               Delaware  New Castle     Joe Biden   DEM       195034  True
8               Delaware      Sussex  Donald Trump   REP        71230  True
12  District of Columbia      Ward 1     Joe Biden   DEM        39041  True
19  District of Columbia      Ward 2     Joe Biden   DEM        29078  True

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4633 entries, 0 to 32173
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        4633 non-null   object
 1   county       4633 non-null   object
 2   candidate    4633 non-null   object
 3   party        4633 non-null   object
 4   total_votes  4633 non-null   int64
 5   won          4633 non-null   bool
dtypes: bool(1), int64(1), object(4)
memory usage: 221.7+ KB

In [41]:
df_geo.drop(['city', 'city_ascii', 'state_id', 'county_fips', 'source', 'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id'], axis = 1, inplace = True)
df_geo.rename(columns={"state_name": "state", "county_name": "county"}, inplace = True)
df_geo.head()

        state       county      lat       lng  population  density
0    New York       Queens  40.6943  -73.9249    18680025  10768.0
1  California  Los Angeles  34.1141 -118.4068    12531334   3267.0
2    Illinois         Cook  41.8375  -87.6866     8586888   4576.0
3     Florida   Miami-Dade  25.7840  -80.2101     6076316   4945.0
4       Texas       Dallas  32.7935  -96.7667     5910669   1522.0

In [42]:
df_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30416 entries, 0 to 30415
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       30416 non-null  object
 1   county      30416 non-null  object
 2   lat         30416 non-null  float64
 3   lng         30416 non-null  float64
 4   population  30416 non-null  int64
 5   density     30416 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 1.4+ MB

In [43]:
df20 = pd.merge(df, df_geo, on=['county', 'state'], how = 'left')
df20.drop_duplicates(
  subset = ['state', 'county'],
  keep = 'first', inplace = True)

df20.head(20)

,state,county,candidate,party,total_votes,won,lat,lng,population,density
0,Delaware,Kent,Joe Biden,DEM,44552,True,39.1610,-75.5202,125931.0,617.0
26,Delaware,New Castle,Joe Biden,DEM,195034,True,39.7415,-75.5416,70655.0,2503.0
52,Delaware,Sussex,Donald Trump,REP,71230,True,38.9091,-75.4227,11463.0,449.0
79,District of Columbia,Ward 1,Joe Biden,DEM,39041,True,38.9072,-77.0369,82404.0,12910.0
80,District of Columbia,Ward 2,Joe Biden,DEM,29078,True,38.9063,-77.0340,76492.0,4624.0
81,District of Columbia,Ward 3,Joe Biden,DEM,39397,True,38.9884,-77.0900,82450.0,3059.0
82,District of Columbia,Ward 4,Joe Biden,DEM,42489,True,38.9310,-77.0380,86085.0,3740.0
83,District of Columbia,Ward 5,Joe Biden,DEM,43320,True,38.9717,-77.0089,88948.0,3369.0
84,District of Columbia,Ward 6,Joe Biden,DEM,56719,True,38.8869,-76.9896,102233.0,6893.0
85,District of Columbia,Ward 7,Joe Biden,DEM,36382,True,38.8582,-76.9478,81270.0,3734.0
86,District of Columbia,Ward 8,Joe Biden,DEM,30897,True,38.8409,-76.9859,83272.0,3713.0
87,Florida,Alachua,Joe Biden,DEM,89704,True,29.6804,-82.3459,203541.0,816.0
96,Florida,Baker,Donald Trump,REP,11911,True,30.2809,-82.1253,6732.0,534.0
98,Florida,Bay,Donald Trump,REP,66097,True,30.1995,-85.6003,149366.0,395.0
111,Florida,Bradford,Donald Trump,REP,10334,True,29.9474,-82.1129,5415.0,291.0
115,Florida,Brevard,Donald Trump,REP,207883,True,27.9631,-80.6593,496640.0,508.0
146,Florida,Broward,Joe Biden,DEM,618752,True,26.1412,-80.1464,181818.0,2029.0
183,Florida,Calhoun,Donald Trump,REP,5274,True,30.4430,-85.0455,3273.0,396.0
185,Florida,Charlotte,Donald Trump,REP,73243,True,26.9918,-82.1140,64335.0,872.0
195,Florida,Citrus,Donald Trump,REP,65352,True,28.8119,-82.5392,86578.0,223.0

In [44]:
#df_mainland = df1[~df1["state"].isin(["Alaska", "Hawaii"])]

#plt.figure(figsize = (14,10))
#sns.scatterplot(data = df_mainland, x = "long", y = "lat", hue = "percentage20_Joe_Biden", size = "total_votes20",
#                sizes = (20, 200), size_norm = (10000, 800000), hue_norm = (0.031,0.944), palette = "coolwarm_r")
#plt.title("The 2020 Election (Red = More Republican; Blue = More Democratic)");