In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [73]:
df = pd.read_csv('/Users/jiaxincui/Documents/GitHub/git-exercise-AllysonCui/Data/Kaggle/senate_county_candidate.csv')
df_sc = pd.read_csv('/Users/jiaxincui/Documents/GitHub/git-exercise-AllysonCui/Data/Kaggle/senate_county.csv')
df_geo = pd.read_csv('/Users/jiaxincui/Documents/GitHub/git-exercise-AllysonCui/Data/Other/uscities.csv')

pd.set_option('display.max_columns', None)

In [74]:
#add a column named 'won'
result = [False]*14125
county = df_sc['county']
i = 0
for index, row in df.iterrows():
    if row['county'] == county.iloc[i] and i < 3581:
        result[index] = True
        i += 1
df['won'] = result
df['county'] = df['county'].str.replace(' County', '')
df.head()

      state      county      candidate party  total_votes    won
0  Delaware        Kent  Lauren Witzke   REP        38571   True
1  Delaware        Kent    Mark Turley   IPD         1553  False
2  Delaware        Kent   Nadine Frost   LIB          958  False
3  Delaware  New Castle  Lauren Witzke   REP        80081   True
4  Delaware  New Castle    Mark Turley   IPD         4277  False

In [75]:
df.drop(df[df['won'] == False].index, inplace = True)
df.head()

       state      county          candidate party  total_votes   won
0   Delaware        Kent      Lauren Witzke   REP        38571  True
3   Delaware  New Castle      Lauren Witzke   REP        80081  True
6   Delaware      Sussex  Christopher Coons   DEM        56137  True
9    Georgia     Appling         Jon Ossoff   DEM         1753  True
11   Georgia    Atkinson         Jon Ossoff   DEM          773  True

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3581 entries, 0 to 14085
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        3581 non-null   object
 1   county       3581 non-null   object
 2   candidate    3581 non-null   object
 3   party        3581 non-null   object
 4   total_votes  3581 non-null   int64
 5   won          3581 non-null   bool
dtypes: bool(1), int64(1), object(4)
memory usage: 171.4+ KB